@font-face {
    font-family: "ProtestRevolution";
    src: url(fonts/ProtestRevolution-Regular.ttf);
}

:root {
    --cinza-shamanis: #3c3c3c;
    --vermelho-shamanis: #fa1e4a;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3c3c3c;
}

.container-grid {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.banner {
    /* vh -> Porcentagem da ALTURA da viewport (janela) */
    height: 280vh;

    background-image: url(img/Leona\ Seo\ Hyun\ Top\ Thumbnail.png);
    background-repeat: no-repeat;

    background-position: 100% 0%;
    background-size: contain;

}

.botoes button{
    width: 30px;

    background: none;
    border: none;
    cursor: pointer;

}

.botoes button svg {
    fill: #ffffff76;
}


header img {
    width: 290px;
}

header {
    height: 240px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: whitesmoke;

    font-size: 20px;

    font-family: "ProtestRevolution";
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 600ms ease;
}

.menu a:hover {
    color: var(--vermelho-shamanis);
    text-decoration-color: var(--vermelho-shamanis) #fa1e4a;

}

.conteudo-banner p {
    color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    font-family: "Rajdhani";
    font-size: 35px;

}

.conteudo-banner span {
    display: block;
    overflow: hidden;

}

#portfolio {
    margin-top: 750px;
    color: var(--vermelho-shamanis);
    font-family: "ProtestRevolution";
    font-size: 28px;
    text-align: left;

}

#portfolio .titulo {
    color: var(--vermelho-shamanis);
    text-decoration: underline transparent;
    text-align: start;
    font-family: "ProtestRevolution";
    font-size: 28px;
}

#portfolio p {

    color: whitesmoke;
    font-family: "Comfortaa";
    font-size: 17px;
    text-align: center;
    margin-bottom: 65px;

}

#portfolio .container-grid img {
    height: 650px;
    width: 800px;
    margin-bottom: 50px;
}

#portfolio .container-grid div {
    display: flex;
    justify-content: flex-end;
}

#portfolio .container-grid div button {
    background-color: #641421;

    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;

    background-color: var(--vermelho-shamanis);

    border: none;
    border-radius: 25px;
    color: whitesmoke;

    font-family: "Rajdhani";
    font-size: 17px;
    font-weight: 600;
    text-align: center;

    cursor: pointer;

    transition: background-color 500ms;
    display: flex;
    align-items: center;
}

#portfolio .container-grid div button:hover {
    background-color: #641421;
}

#cases {
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: whitesmoke;
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2 {
    margin-bottom: 70px;
}


.container-cards {

    width: 100%;

    display: flex;
    justify-content: space-between;
}

.card {

    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--cinza-shamanis);

    border-radius: 4px;


}

.card img {

    display: flex;
    justify-content: space-around;
    height: 305px;
    width: 305px;
    align-items: center;
    /*border-radius: 4px 4px 0 0; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


}


.card p {
    text-align: center;

    font-family: "Comfortaa";
    font-size: 16px;

    padding: 7%;

    color: whitesmoke;
}

.card button {
    width: 65%;
    height: 60px;

    background-color: var(--vermelho-shamanis);

    border: none;
    border-radius: 25px;
    color: whitesmoke;

    font-family: "Rajdhani";
    font-size: 20px;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 500ms;
    margin-top: 16px;
    margin-bottom: 16px;

}

.card button:hover {
    background-color: #641421;
}

#alpha-squad {

    color: var(--vermelho-shamanis);
    font-family: "ProtestRevolution";
    margin-top: 125px;
    margin-bottom: 125px;

}

#alpha-squad h2 {
    padding-bottom: 35px;
}

.shamani {
    display: flex;
    justify-content: space-around;
}

.menu2 {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shamani img {
    width: 700px;
}

#alpha-squad p {

    color: whitesmoke;
    font-family: "Comfortaa";
    font-size: 17px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 25px;
    padding: 3%;

}

.texto-alpha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alpha-squad button {
    background-color: #641421;
    margin: 2%;
    align-items: center;
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: var(--vermelho-shamanis);
    border: none;
    border-radius: 25px;
    color: whitesmoke;
    font-family: "Rajdhani";
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 600ms;
}

#alpha-squad button:hover {
    background-color: #641421;
}

.divisor {
    display: block;
    overflow: hidden;
    margin: 10%;
}

#sobre {
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    padding: 100px 25%;
    margin-bottom: 25px;

}

h2 {
    color: #fa1e4a;
    font-family: "ProtestRevolution";
    font-size: 28px;

}

#sobre p {
    color: whitesmoke;
    font-family: "Comfortaa";
    font-size: 17px;
    text-align: left;
}

#gamificacao {
    color: whitesmoke;
    font-family: "Comfortaa";
    font-size: 17px;
    text-align: center;

    margin-bottom: 125px;
    padding: 10%;
}

#gamificacao h2 {
    margin-top: 65px;
    margin-bottom: 65px;

}

#criadores {

    margin: 10%;
    margin-bottom: 125px;
    
}

.bruno-ryo {
    display: flex;
    justify-content: space-around;
}

#criadores p {
    color: whitesmoke;
    font-family: "Comfortaa";
    font-size: 17px;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;
    display: flex;
    justify-content: right;
    padding: 5%;
}

#criadores h2 {
    display: flex;
    justify-content: center;
    margin-left: 650px;
    margin-top: 65px;
    margin-bottom: 65px;
    align-items: center;
    color: var(--vermelho-shamanis);
    font-family: "ProtestRevolution";
    font-size: 28px;

}

/* Setor do contato*/

#contato {
    text-align: center;

}

#contato h2 {
    margin-bottom: 70px;
}

#contato form {
    width: 50%;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 80px;

    background-color: #777777;

    color: white;
    font-family: "Rajdhani";
}

#contato form label {
    margin-bottom: 15px;
    font-size: 17px;

}

.campo {
    width: 60%;

    margin-bottom: 50px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input {
    height: 40px;

    color: white;
    background-color: #555555;

    border: none;
    border-radius: 12px;

    outline: none;

    text-indent: 10px;
    font-size: 17px;
    font-family: "Rajdhani";

}

.campo-textarea {
    width: 60%;

    margin-bottom: 30px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-textarea textarea {
    color: white;
    background-color: #555555;

    border: none;
    border-radius: 12px;

    padding: 10px;

    font-family: "Rajdhani";
    font-size: 17px;

    outline: none;

    resize: none;
}

.campo input:focus,
.campo-textarea textarea:focus {
    outline: 2px solid var(--vermelho-shamanis);
}


#contato form button {
    height: 40px;
    width: 60%;

    font-family: "Rajdhani";
    font-size: 17px;
    font-weight: 600;

    color: whitesmoke;
    background-color: var(--vermelho-shamanis);

    border: none;
    border-radius: 25px;

    cursor: pointer;

    text-transform: uppercase;

    transition: background-color 500ms ease;
}

#contato form button:hover {
    background-color: #641421;
}

/* Setor do contato/Placeholder */
#contato form input::placeholder,
#contato form textarea::placeholder {
    color: #b9b9b9;
}

/* Setor do Footer */


footer {
    /* vh -> Porcentagem da ALTURA da viewport (janela) */
    height: 1230px;
    width: 1920px;
    background-image: url(./img/Akai\ Sensei\ Footer-image.png);
    background-repeat: no-repeat;

    background-position: 0% 100%;
    background-size: contain;

}

footer .container-grid {
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: flex-end;

}


.redes-sociais {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.redes-sociais p {
    color: white;
    font-family: "Rajdhani";
    font-size: 20px;

}

.svg {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.icones-redes {
    height: 80px;
    width: 240px;
    margin-bottom: 125px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.icones-redes a {
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: left;
}

.direitos {

    margin-left: 160px;
    margin-bottom: 140px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.direitos p {

    color: whitesmoke;
    font-family: "Rajdhani";
    font-size: 20px;
    text-align: center;
}

.menu-fechado{
    display: none;
}

#icone-barras{
    display: none;
}

@media screen and (max-width: 1300px) {
    header {
        position: relative;

    }

    header button {
        width: 50px;

        display: unset;

        background: none;
        border: none;
    }

    header svg {
        fill: white;
    }

    nav.menu {
        height: 500px;
        width: 350px;

        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        background-color: #3f3f3f;

        position: absolute;
        top: 165px;
        right: 0px;

        z-index: 1;
    }

    #sobre {
        padding: 100px 15%;
    }

    .card {
        height: 320px;
        width: 200px;
    }

    #contato form {
        width: 75%;
    }
}

@media screen and (max-width: 1080px) {
    .container-cards {
        flex-wrap: wrap;
    }

    .card {
        height: 400px;

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
    }

    footer {
        height: unset;
    }

    footer .container-grid {
        padding: 80px;

        flex-direction: column;
    }

    footer img {
        margin-bottom: 100px;
    }

    footer p {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .redes-sociais {
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .card {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 700px) {
    #sobre {
        height: unset;
        margin-bottom: 40px;

    }

    #sobre h2 {
        margin-bottom: 30px;
    }

    #cases {
        margin-bottom: unset;
    }

    #portfolio a {
        width: 100%;
        text-align: center;
    }

    .campo,
    .campo-textarea,
    #contato form button {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .container-grid {
        width: 90%;
    }

    header img {
        width: 200px;
    }

    .banner {
        background-size: cover;
    }

    .conteudo-banner p {
        font-size: 22px;
    }

    nav.menu {
        width: 100%;

    }

    #sobre {
        padding-left: 0px;
        padding-right: 0px;
    }

    #sobre p {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #cases.container-grid {
        width: 100%;
        margin: unset;
    }

    .container-cards {
        flex-wrap: nowrap;

        gap: 40px;

        overflow-x: auto;
    }

    .card {
        height: 400px;
        width: 280px;

        flex-basis: unset;
    }

    .card:first-child {
        margin-left: 30px;
    }

    .card:last-child {
        margin-right: 30px;
    }

    #portfolio {
        margin-bottom: 0;
    }
    
    #contato {
        padding-top: 70px;

        background-color: var(--cinza-shamanis);
        color: white;
    }

    #contato h2 {
        margin-bottom: 0px;
    }

    #contato form {
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width:400px){
    header img {
        width: 160px;
    }

    header svg {
        width: 40px;
    }

    .conteudo-banner p {
        font-size: 20px;
    }

    footer img {
        width: 200px;
    }
}