@font-face {
    font-family: "ProtestRevolution";
    src: url(fonts/ProtestRevolution-Regular.ttf);
}

:root {
    --cinza-shamanis: #3c3c3c;
    --vermelho-shamanis: #fa1e4a;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3c3c3c;
}

.container-grid {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.banner {
    /* vh -> Porcentagem da ALTURA da viewport (janela) */
    height: 280vh;

    background-image: url(img/Leona\ Seo\ Hyun\ Top\ Thumbnail.png);
    background-repeat: no-repeat;
    
    background-position: 100% 0%;
    background-size: contain;

}

header img {
    width: 290px;
}

header {
    height: 165px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;

    font-size: 20px;

    font-family: "ProtestRevolution";
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 600ms ease;
}

.menu a:hover {
    color: #fa1e4a;
    text-decoration-color: var(--vermelho-shamanis) #fa1e4a;

}

.conteudo-banner p {
    color: whitesmoke;

    font-family: "Rajdhani";
    font-size: 35px;

}

.conteudo-banner span {
    display: block;
    overflow: hidden;
}

#portfolio {

    color: var(--vermelho-shamanis);
    font-family: "ProtestRevolution";
    font-size: 28px;
    text-align: left;

}

#portfolio p {

    color: whitesmoke;
    font-family: "Comfortaa";
    font-size: 20px;
    text-align: center;

}


#cases{
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    padding: 100px 25%;


}

#alpha-squad {

    color: var(--vermelho-shamanis);
    font-family: "ProtestRevolution";
    font-size: 28px;
    text-align: left;

}

#alpha-squad p {

    color: whitesmoke;
    font-family: "Comfortaa";
    font-size: 17px;
    text-align: center;

}

#sobre {
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    padding: 100px 25%;


}

h2 {
    color: #fa1e4a;
    font-family: "ProtestRevolution";
    font-size: 28px;

}

#sobre p {
    color: whitesmoke;
    font-family: "Comfortaa";
    font-size: 17px;
    text-align: left;
}

#gamificacao {
    color: whitesmoke;
    font-family: "Comfortaa";
    font-size: 17px;
    text-align: center;
}

#criadores {
    color: var(--vermelho-shamanis);
    font-family: "Comfortaa";
    font-size: 28px;
    text-align: left;
}

#criadores p {
    color: whitesmoke;
    font-family: "Comfortaa";
    font-size: 17px;
    text-align: center;
}

#cases {
    color: whitesmoke;
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2 {
    margin-bottom: 70px;
}

.container-cards {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.card {

    height: 650px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;

    background-color: var(--cinza-shamanis);

    padding-bottom: 20px;
    margin-bottom: 20px;

    border-radius: 4px;
    
}

.card img {
    height: 65%;
    width: 100%;
    

    /*border-radius: 4px 4px 0 0; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


}

.card p {
    text-align: center;

    font-family: "Comfortaa";
    font-size: 16px;

    padding: 7%;

    color: whitesmoke;
}

.card button {
    width: 90%;
    height: 40px;

    background-color: var(--vermelho-shamanis);

    border: none;
    border-radius: 4px;
    color: whitesmoke;

    font-family: "ProtestRevolution";
    font-size: 17px;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 500ms;

}

.card button:hover {
    background-color: #641421;
}

#contato {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;

}

#contato h2 {
    margin-bottom: 70px;
}

#contato form {
    width: 50%;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 80px;

    background-color: #777777;

    color: white;
    font-family: "Rajdhani";
}

#contato form label {
    margin-bottom: 15px;
    font-size: 17px;

}

.campo {
    width: 60%;

    margin-bottom: 50px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input {
    height: 40px;

    color: white;
    background-color: #555555;

    border: none;
    border-radius: 4px;

    outline: none;

    text-indent: 10px;
    font-size: 17px;
    font-family: "Rajdhani";

}

.campo-textarea {
    width: 60%;

    margin-bottom: 30px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-textarea textarea {
    color: white;
    background-color: #555555;

    border: none;
    border-radius: 4px;

    padding: 10px;

    font-family: "Rajdhani";
    font-size: 17px;

    outline: none;

    resize: none;
}

.campo input:focus,
.campo-textarea textarea:focus {
    outline: 2px solid var(--vermelho-shamanis);
}


#contato form button {
    height: 40px;
    width: 60%;

    font-family: "Rajdhani";
    font-size: 17px;
    font-weight: 600;

    color: whitesmoke;
    background-color: var(--vermelho-shamanis);

    border: none;
    border-radius: 4px;

    cursor: pointer;

    text-transform: uppercase;

    transition: background-color 500ms ease;
}

#contato form button:hover {
    background-color: #641421;
}

/* Placeholder */
#contato form input::placeholder,
#contato form textarea::placeholder {
    color: #b9b9b9;
}

footer {
    height: 290px;

    background-color: var(--cinza-shamanis);
}

footer .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}