@font-face {
    font-family: "ProtestRevolution";
    src: url(fonts/ProtestRevolution-Regular.ttf);
}

:root {
    --cinza-shamanis: #3c3c3c;
    --vermelho-shamanis: #fa1e4a;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3c3c3c;
}

.container-grid {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.banner {
    /* vh -> Porcentagem da ALTURA da viewport (janela) */
    height: 280vh;

    background-image: linear-gradient(90deg, rgba(60, 60, 60, 1) 0%, rgba(60, 60, 60, 1) 23%, rgba(60, 60, 60, 0.5) 100%), url(img/Leona\ Seo\ Hyun_top.png);
    background-repeat: no-repeat;

    background-position: 100% 0%;
    background-size: contain;

}

header img {
    width: 290px;
}

header {
    height: 165px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;

    font-size: 20px;

    font-family: "ProtestRevolution";
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 600ms ease;
}

.menu a:hover {
    color: #fa1e4a;
    text-decoration-color: var(--vermelho-shamanis) #fa1e4a;

}

.conteudo-banner p {
    color: white;

    font-family: "Rajdhani";
    font-size: 28px;

}

.conteudo-banner span {
    display: block;

    overflow: hidden;
}

#sobre {
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    padding: 100px 25%;


}

h2 {
    color: #fa1e4a;
    font-family: "ProtestRevolution";
    font-size: 28px;

}

#sobre p {
    color: whitesmoke;
    font-family: "Comfortaa";
    font-size: 17px;
    text-align: left;
}



#criadores #cases {
    color: whitesmoke;
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2 {
    margin-bottom: 70px;
}

.container-cards {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.card {
    height: 650px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--cinza-shamanis);

    padding-bottom: 20px;
    margin-bottom: 20px;

    border-radius: 4px;
    
}

.card img {
    height: 55%;
    width: 100%;
    

    /*border-radius: 4px 4px 0 0; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


}

.card p {
    text-align: left;

    font-family: "Comfortaa";
    font-size: 16px;

    padding: 7%;

    color: white;
}

.card button {
    width: 90%;
    height: 40px;

    background-color: var(--vermelho-shamanis);

    border: none;
    border-radius: 4px;
    color: white;

    font-family: "Comfortaa";
    font-size: 17px;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 500ms;

}

.card button:hover {
    background-color: #641421;
}

